.banner {
    z-index: 2025;
    text-align: center;
    /* compensate for scrollbar */
    /* right padding is base + scrollbar width = 6px + 10px */
    padding: 6px 16px 6px calc(6px + 100vw - 100%);
    font-size: 1.3rem;
}

.banner.demo-page-warning {
    background: rebeccapurple;
    font-weight: bolder;
}

noscript.banner {
    background: #bd0202;
}