footer {
    margin-top: auto;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #252536;
    border-top: 1px solid var(--amber);
}

footer span.nav-footer {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
footer span.nav-footer a:first-child {
    margin-left: 0;
}

footer span.nav-footer a {
    margin-left: 80px;
    color: lightgray;
    font-size: 0.9em;
    text-decoration: none;
}

footer span.nav-footer a[href] {
    position: relative;
}

footer span.nav-footer a[href]::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 0;
    height: 1px;
    background-color: lightgray;
    transition: width 0.1s ease-out, left 0.1s ease-out;
}
footer span.nav-footer a[href]:hover::after {
    width: 100%;
    left: 0;
}
