header {
    min-height: 70px;
    line-height: 70px;
    padding-top: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Mansalva, Gaegu, sans-serif;
}
header a.homepage {
    color: var(--amber);
    font-size: 4rem;
    padding: 0;
}

header a {
    position: relative;
    color: whitesmoke;  /* #669999 */
    text-decoration: none;  /* hide underline that <a> tags usually have */
    font-size: 2.7rem;
    /*margin-left: 35px;*/
    word-spacing: -0.5rem;
}

@media (max-width: 550px) {
    header a.homepage { font-size: 3rem; }
    header a { font-size: 2.2rem; }
}

header > a:first-child {
    margin-left: 0;
}

header a:last-child {
    margin-right: 7px;  /* todo: set margin-right on nav? */
}

header nav {
    line-height: 40px;
    text-align: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 auto;
    justify-content: right;  /* on narrow screens */
    column-gap: 35px;
}

/* header anchors underlined when hovered */
header a.homepage::after, header nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 0;
    height: 1px;
    background-color: var(--amber);
    transition: width 0.1s ease-out, left 0.1s ease-out;
}

header nav a::after {
    background-color: whitesmoke;
}

header a.homepage:hover::after, header nav a:hover::after {
    width: 100%;
    left: 0;
}