div#header {
    min-height: 70px;
    line-height: 70px;
    padding-top: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Gaegu, sans-serif;
}
div#header a.homepage {
    color: var(--amber);
    font-size: 4rem;
    padding: 0;
}

div#header a {
    position: relative;
    color: whitesmoke;  /* #669999 */
    text-decoration: none;  /* hide underline that <a> tags usually have */
    font-size: 2.7rem;
    margin-left: 35px;
    word-spacing: -0.5rem;
}

@media (max-width: 550px) {
    div#header a.homepage { font-size: 3rem; }
    div#header a { font-size: 2.2rem; }
}
div#header a:first-child {
    margin-left: 0;
}

div#header a:last-child {
    margin-right: 7px;
}

.nav {
    line-height: 40px;
    text-align: center;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 0 auto;
}


/* header anchors underlined when hovered */
div#header a.homepage::after, div#header span a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 0;
    height: 1px;
    background-color: var(--amber);
    transition: width 0.1s ease-out, left 0.1s ease-out;
}
div#header span a::after {
    background-color: whitesmoke;
}
div#header a.homepage:hover::after, div#header span a:hover::after {
    width: 100%;
    left: 0;
}