div#picker {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

div#picker > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-align: center;
    height: 150px;
    border: 1px solid dimgray;
    border-radius: 10px;
    flex-direction: column;
}

#picker .child {
    transition: transform 0.3s ease;
}

#picker .child:hover {
    transform: scale(1.1);
}
