{% extends '_base.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/css/product-page.css">
    <script src="/static/js/product-page.js" defer></script>
    <script src="/static/js/product-page-tr-expand.js" defer></script>
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>

{#    <p class="only-wide">Postavljanjem miša preko naziva trgovine prikazat će se popis pojedinih prodavaonica.</p>#}
{#    <p class="only-narrow">Postavljanjem miša preko ili pritiskom na ikonu trgovine prikazat će se njen naziv, kao i popis pojedinih prodavaonica.</p>#}
    {# labels for specific products #}
    {% if product.has_labels %}
    <div class="labels">
        {% if product.govt_controlled_price %}
        <div>
            <img src="/static/img/9451_smaller.png" alt="Ograničena cijena">
            <span>Cijena ovog proizvoda ograničena je odlukom Vlade RH:
                <a style="color: whitesmoke" target="_blank" href="https://narodne-novine.nn.hr/clanci/sluzbeni/2025_02_17_166.html">NN 17/2025</a>
            </span>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <noscript>
    <p style="margin-top: 0">Omogućite JavaScript za filtriranje prikazanih ponuda.</p>
    </noscript>

    {% if request.cookies.get('LocationPreference') is not none %}
        <p>
            Prikazaju se samo ponude iz trgovina odabranih prema lokaciji. <a href="/location">Promijeni lokaciju</a>
        </p>
    {% else %}
        <p>
            Prikazuju se ponude iz svih dostupnih trgovina. Za filtriranje prema lokaciji <a href="/location">kliknite ovdje</a>.
        </p>
    {% endif %}

    <div id="filters" style="margin-top: 10px; display: none;">
        <h2>Filtri:</h2>
        <div id="filter-quantity">
            <span>Količina:</span>
        </div>
        <div id="switch-price">
            <span>Prikaži cijenu 2.5.2025.</span>
            <span><label><input id="switch-price-input" type="checkbox" name="may2_price"></label></span>
        </div>
    </div>



    <table id="offers" class="show-price">
        <tr>
            <th class="name">Naziv</th>
            <th class="store">Trgovina</th>
            <th class="quantity"><span class="only-wide">Količina</span><span class="only-narrow">Kol.</span></th>
            <th class="price">Cijena</th>
            <th class="price-may2"><span>Cijena </span>2.5.2025.</th>
            <th class="unit-price">Cij<span class="only-wide">ena</span><span class="only-narrow">.</span>/{% if product.baseq != 1%}{{ product.baseq }} {% endif %}{{ product.unit }}</th>
        </tr>
        {% for offer in offers %}
            <tr class="data-row" data-key="{{ loop.index }}">
                <td class="name">
                    <div class="name-flex">
                        <span>{{ offer.offer_name }}</span>
                        {% if offer.ogranicena_cijena %}<img src="/static/img/ogranicenacijena.png">{% endif %}
                    </div>
                </td>
                <td class="store">
                    <img class="store-icon" alt="{{ offer.store.name }}" src={{ "/static/icons/{}.png".format(offer.store.id) }}>
                    <span class="only-wide">{{ offer.store.name }}</span>
                </td>
                <td class="quantity">{{ offer.fmt_quantity }} {{ product.unit }}</td>
                <td class="price"><span class="price">{{ offer.price|formatted_price }}</span></td>
                <td class="price-may2">
                    {% set extra_cls = '' %}
                    {% if offer.may2_price is not none %}
                        {% set diff = offer.price - offer.may2_price %}
                        {% if diff|abs <= offer.may2_price * 0.00001 %}
                            {% set extra_cls = ' equal' %}
                        {% elif diff > 0 %}
                            {% set extra_cls = ' worse' %}
                        {% else %}
                            {% set extra_cls = ' better' %}
                        {% endif %}
                    {% endif %}
                    <span class="price{{ extra_cls }}">{{ offer.may2_price|formatted_price }}</span>
                </td>
                <td class="unit-price">
                    <span class="price" style="{{ stylize(offer, offers) }}">
                        {{ offer.price_per_unit|formatted_price }}
                    </span>
                </td>
            </tr>
            <tr class="details-row">
                <td colspan="6">
                    <div class="details">
                        <div class="inner">
                            {% set store_location = offer.store.locations[offer.store_location_id] %}
                            <div>
                                <h3>{{ offer.store.name }}</h3>
                                <p>{{ store_location.address }}, {{ store_location.city }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ store_location.google_maps_url }}" target="_blank">Google Maps ></a>
                            </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

