{% extends '_base.html' %}

{% block content %}
    <h1>Izvori podataka</h1>
    <ul>
        <li><a href="https://www.bakmaz.hr/o-nama/" target="_blank">Bakmaz</a></li>
        <li><a href="https://www.boso.hr/cjenik/" target="_blank">Boso</a></li>
        <li><a href="http://www.brodokomerc.hr/cijene" target="_blank">Brodokomerc</a></li>
        <li><a href="https://www.bure.hr/cjenici-arhiva" target="_blank">Bure</a></li>
        <li><a href="https://croma.com.hr/maloprodaja/" target="_blank">Croma-Varaždin</a></li>
        <li><a href="https://diskont.hr/cjenici/" target="_blank">Diskont Stanić</a></li>
        <li><a href="https://cjenik.djelo.hr/" target="_blank">Djelo</a></li>
        <li><a href="https://dv10.djelo-vodice.hr/" target="_blank">Djelo Vodice</a></li>
        <li><a href="https://www.dm.hr/novo/promocije/nove-oznake-cijena-i-vazeci-cjenik-u-dm-u-2906632" target="_blank">DM</a></li>
        <li><a href="https://www.eurospin.hr/cjenik/" target="_blank">Eurospin</a></li>
        <li><a href="https://jadranka-trgovina.com/cjenici/" target="_blank">Jadranka</a></li>
        <li><a href="https://www.jedinstvo-labin.hr/hr/cjenik" target="_blank">Jedinstvo Labin</a></li>
        <li><a href="https://www.kaufland.hr/akcije-novosti/popis-mpc.html" target="_blank">Kaufland</a></li>
        <li><a href="https://www.konzum.hr/cjenici/" target="_blank">Konzum</a></li>
        <li><a href="https://www.ktc.hr/cjenici" target="_blank">KTC</a></li>
        <li><a href="https://tvrtka.lidl.hr/cijene" target="_blank">Lidl</a></li>
        <li><a href="https://lorenco.hr/dnevne-cijene/" target="_blank">Lorenco</a></li>
        <li><a href="https://metrocjenik.com.hr/" target="_blank">Metro</a></li>
        <li><a href="https://ntl.hr/cjenik" target="_blank">NTL</a></li>
        <li><a href="https://www.plodine.hr/info-o-cijenama" target="_blank">Plodine</a></li>
        <li><a href="https://www.radenska.hr/cjenici" target="_blank">Radenska</a></li>
        <li><a href="https://ribola.hr/ribola-cjenici/" target="_blank">Ribola</a></li>
        <li><a href="https://www.rotodinamic.hr/cjenici/" target="_blank">Roto dinamic</a></li>
        <li><a href="https://www.spar.hr/datoteke_cjenici/index.html" target="_blank">Spar</a></li>
        <li><a href="https://www.studenac.hr/popis-maloprodajnih-cijena" target="_blank">Studenac Market</a></li>
        <li><a href="https://tobylex.net/cjenik/" target="_blank">Tobylex</a></li>
        <li><a href="https://www.tommy.hr/objava-cjenika" target="_blank">Tommy</a></li>
        <li><a href="https://travelfree.hr/objava-cjenika" target="_blank">Travel FREE</a></li>
        <li><a href="https://trgocentar.com/Trgovine-cjenik/" target="_blank">Trgocentar</a></li>
        <li><a href="https://trgovina-krk.hr/objava-cjenika/" target="_blank">Trgovina Krk</a></li>
        <li><a href="https://www.vrutak.hr/cjenik-svih-artikala" target="_blank">Vrutak</a></li>
        <li><a href="https://zabacfoodoutlet.hr/cjenik/" target="_blank">Žabac Food Outlet</a></li>
    </ul>
{% endblock %}
